@tailwind base;
@tailwind components;
@tailwind utilities;

/* para que el Canvas 3D ocupe todo el espacio sin scrollbars */
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}